.top-bar {
    width: 100vw;
    height: clamp(1.1em, 2.1em + 3vw, 5.1em);
    position: fixed;
    top: 0;
    background-color: black;
    box-shadow: 0.3em 0.3em 2px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    transition: .5s all;
}

.top-bar i {
    color: white;
    font-size: clamp(1.5em, 2.5em + 1vw, 3.5em);
    transition: all .5s;
    margin-right: 20px;
    margin-left: 20px;
}

.top-bar i:hover {
    font-size: 4em;
}